body {
  margin: 0;
}

.container{
  width: 100%;
  margin: 0 auto;
}
.item {
  width: 50%;
  margin: 50px auto;
  padding: 20px 0;
  text-align: center;
  border: 1px solid grey;
  border-radius: 20px;
}